@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Fraunces;
    src: url("/fonts/Fraunces.woff2");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: Fraunces;
    src: url("/fonts/Fraunces-Italic.woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: IBMPlexSans;
    src: url("/fonts/IBMPlexSans-Regular.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: IBMPlexSans;
    src: url("/fonts/IBMPlexSans-Italic.woff2");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: IBMPlexSans;
    src: url("/fonts/IBMPlexSans-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: IBMPlexSans;
    src: url("/fonts/IBMPlexSans-BoldItalic.woff2");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: IBMPlexMono;
    src: url("/fonts/IBMPlexMono-Regular.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: IBMPlexMono;
    src: url("/fonts/IBMPlexMono-Italic.woff2");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: IBMPlexMono;
    src: url("/fonts/IBMPlexMono-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: IBMPlexMono;
    src: url("/fonts/IBMPlexMono-BoldItalic.woff2");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@layer base {
    :root {
        accent-color: rgb(var(--purple-500));
        font-size: 16px;

        --purple-100: 243, 234, 248;
        --purple-200: 220, 191, 234;
        --purple-300: 197, 148, 221;
        --purple-400: 174, 105, 207;
        --purple-500: 151, 62, 193;
        --purple-600: 118, 48, 150;
        --purple-700: 84, 34, 107;
        --purple-800: 50, 21, 64;
        --purple-900: 17, 7, 21;

        --blue-100: 231, 242, 251;
        --blue-200: 183, 215, 242;
        --blue-300: 134, 189, 234;
        --blue-400: 86, 162, 225;
        --blue-500: 38, 136, 217;
        --blue-600: 30, 106, 169;
        --blue-700: 21, 75, 121;
        --blue-800: 13, 45, 72;
        --blue-900: 4, 15, 24;

        --red-100: 253, 231, 229;
        --red-200: 249, 184, 176;
        --red-300: 245, 137, 123;
        --red-400: 241, 90, 71;
        --red-500: 237, 43, 18;
        --red-600: 184, 34, 14;
        --red-700: 132, 24, 10;
        --red-800: 79, 14, 6;
        --red-900: 26, 5, 2;

        --yellow-100: 255, 247, 227;
        --yellow-200: 255, 232, 170;
        --yellow-300: 255, 216, 113;
        --yellow-400: 255, 201, 57;
        --yellow-500: 255, 186, 0;
        --yellow-600: 255, 186, 0;
        --yellow-700: 142, 103, 0;
        --yellow-800: 85, 62, 0;
        --yellow-900: 28, 21, 0;

        --green-100: 228, 253, 241;
        --green-200: 175, 250, 212;
        --green-300: 121, 247, 183;
        --green-400: 68, 244, 154;
        --green-500: 14, 241, 125;
        --green-600: 11, 187, 97;
        --green-700: 8, 134, 69;
        --green-800: 5, 80, 42;
        --green-900: 2, 27, 14;

        --grey-100: 241, 240, 242;
        --grey-200: 213, 210, 215;
        --grey-300: 186, 180, 188;
        --grey-400: 158, 150, 162;
        --grey-500: 130, 120, 135;
        --grey-600: 101, 93, 105;
        --grey-700: 72, 67, 75;
        --grey-800: 43, 40, 45;
        --grey-900: 14, 13, 15;

        --white: 255, 255, 255;
        --black: 25, 25, 25;
    }
    :root:not(:is([data-mode = "dark"])) {
        @apply text-grey-700;
        --fg: var(--purple-800);
        --bg: var(--purple-100);
        --accent: var(--purple-100);
    }
    :root[data-mode = "dark"] {
        @apply text-grey-500;
        --fg: var(--purple-200);
        --bg: var(--purple-900);
        --accent: var(--purple-900);
    }
    * {
        margin: 0;
        color: inherit;
        scroll-behavior: smooth;
        transition-duration: 125ms;
    }
    *::selection { @apply bg-fore/[0.4] text-back; }

    h1, h2, h3, h4, h5, h6 {
        @apply py-[0.25em] text-fore font-serif font-bold;
    }
    h1 { @apply !text-x2l; }
    h2 { @apply !text-xl; }
    h3 { @apply !text-lg; }
    h4 { @apply !text-md; }
    h5 { @apply !text-sm; }
    h6 { @apply !text-xs; }

    a { @apply text-fore hover:underline; }
    p { @apply py-xs; }
    hr { @apply w-[100%] border-grey/[0.5] border-dashed; }

    button { @apply box max-w-[25ch] border-transparent truncate flex justify-center items-center gap-sm; }
    button[data-type = "primary"] { @apply btn-primary; }
    button:not([data-type]), button[data-type = "secondary"] { @apply btn-secondary; }
    button[data-type = "tertiary"] { @apply btn-tertiary; }

    button:not([data-role]), button[data-role = "normal"] { --btn-color: var(--fg); }
    button[data-role = "danger"] { --btn-color: var(--red-500); }
    button:disabled { --btn-color: var(--grey-500); }

    button[data-size = "full"] { @apply max-w-none w-full; }
    button[data-size = "fit"] { @apply !p-xs; }
    button:active { filter: brightness(0.8); }

    label { @apply py-xs text-fore font-semibold block; }
    input {
        @apply focus:outline-none;
        @apply focus-visible:outline-fore focus-visible:outline-[1px];
    }

    input, textarea {
        @apply text-fore plate rounded-md p-x2s place-content-center;
        @apply hover:plate-hover;
    }
    output { @apply box text-fore rounded-md p-x2s; }

    input[type = "checkbox"], input[type = "radio"] {
        @apply appearance-none w-md h-md grid;
        @apply hover:plate-hover;
        @apply before:text-fore/[0.3125] before:text-sm;
        @apply checked:bg-fore;
        @apply checked:before:text-back/[0.625];
        @apply checked:hover:bg-fore/[0.625];
    }
    input[type = "radio"] { @apply rounded-full; }

    input[type = "checkbox"]:before { content: "━"; }
    input[type = "radio"]:before { content: "⏺"; }

    ul:not(.no-marker) > li {
        @apply flex;
        @apply before:content-["⟡"] before:text-fore before:flex before:items-center before:align-middle before:pe-sm;
    }

    input, textarea, button, select, a {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer components {
    .box { @apply border-[1px] border-fore/[0.125] backdrop-blur-lg; }

    .plate { @apply box bg-fore/[0.0625] }
    .plate-hover { @apply box bg-fore/[0.03125]; }
    .plate-hoverable { @apply plate hover:plate-hover; }

    .preview { @apply text-transparent bg-fore/[0.0625] rounded-md; }

    .button-like {
        @apply box p-xs rounded-lg text-fore border-transparent flex items-center gap-sm;
        @apply hover:plate-hover hover:text-fore;
        @apply dark:hover:text-fore;
    }
    .shade { @apply drop-shadow-[4px_8px_8px_rgb(0,0,0,0.35)]; }

    .card { @apply plate p-lg rounded-lg; }
    .card-hover { @apply plate-hover; }
    .card-hoverable {
        @apply card;
        @apply hover:card-hover;
    }

    .btn-primary {
        @apply px-sm py-x2s rounded-md bg-[rgb(var(--btn-color))] text-back;
        @apply hover:plate-hover hover:text-[rgb(var(--btn-color))];
    }
    .btn-secondary {
        @apply px-sm py-x2s rounded-md plate text-[rgb(var(--btn-color))];
        @apply hover:plate-hover;
    }
    .btn-tertiary {
        @apply text-[rgb(var(--btn-color))];
        @apply hover:underline hover:decoration-[1px];
    }
}