---
import "@styles/index.css";

import DarkModeButton from "@components/DarkModeButton.astro";
import Icon from "@components/Icon";
import Body from "@layouts/Body.astro";
import Header from "@layouts/Header.astro";
import Page from "@layouts/Page.astro";
import Section from "@layouts/Section.astro";
import WorkNote from "@components/WorkNote.astro";
---

<Page title="Elster / Palette | Home" description="Elster / Palette: An Algorithmic Color Palette Generator">
    <Body slot="body">
        <Header>
            <span class="text-lg"><Icon name="logo" /></span>
            <DarkModeButton />
        </Header>
        <main class="w-full h-full overflow-scroll marquee-y">
            <Section id="home" height="full">
                <h1>
                    <span>Elster / Palette</span>
                </h1>
                <h2>
                    <span>An Algorithmic color palette generator</span>
                </h2>
                <p>
                    <span>
                        Elster / Palette is a tool to help developer and designers generate
                        color palette algorithmically using cubic Bezier curves
                        and easing handles on the HSL space. So, it's easy
                        for anyone who is not a stranger to cubic Bezier easing.
                    </span>
                </p>
                <br/>
                <button data-goto="palette/app" data-type="primary">
                    <span>Launch App</span>
                </button>
            </Section>
            <Section id="tips">
                <h2>
                    <span>Features</span>
                </h2>
                <br/>
                <div class="grid gap-md">
                    <div class="card">
                        <h3>1. Generous Easing</h3>
                        <p>
                            <span>
                                Elster / Palette offers a wide range of easing handles.
                                This gives the flexibility for the users in generating colors.
                            </span>
                        </p>
                    </div>
                    <div class="card">
                        <h3>2. Built-in Color Converter</h3>
                        <p>
                            <span>
                                Color generation is done only in HSL space.
                                But users can still convert the colors into RGB or HEX or just stick to HSL.
                            </span>
                        </p>
                    </div>
                    <div class="card">
                        <h3>3. Export to JSON</h3>
                        <p>
                            <span>
                                Elster / Palette makes using the colors in the user's preferred project environment easy by letting the user export the codes into JSON format.
                            </span>
                        </p>
                    </div>
                </div>
            </Section>
            <footer class="p-xl flex justify-between">
                <WorkNote />
            </footer>
        </main>
    </Body>
</Page>