---
import "@styles/index.css"

import Page from "@layouts/Page.astro";
import Section from "@layouts/Section.astro";
import Separator from "@components/Separator.astro"
import ProjectCatalogue from "@components/ProjectCatalogue";
import Icon from "@components/Icon"
import ContactLinks from "@components/ContactLinks.astro";
import PageMenu from "@components/PageMenu.astro";
---

<Page title="Albert's Place">
    <div class="bg-back w-[100dvw] h-[100dvh] overflow-auto grid justify-items-center">
        <header class="z-[1] px-lg py-sm sticky top-[0] w-full h-fit box bg-back flex justify-between items-center">
            <h4 class="flex gap-sm items-center">
                <span class="text-lg"><Icon name="logo" /></span>
                <span>albertdoes_</span>
            </h4>
            <PageMenu />
        </header>
        <main class="max-w-[90ch] w-full">
            <Section id="home">
                <h1>
                    <span>
                        Web developer <br/>
                        making what should work, <br/>
                        work, and neatly.
                    </span>
                </h1>
                <p>
                    <span>
                        I am Sai Aung Kyaw Htet / Albert ― a programming enthusiast
                        who is passionate about learning and problem solving, and
                        constantly seeking opportunities to apply the ways of systematic problem solving
                        to learn from and solve real-life problems.
                    </span>
                </p>
                <ContactLinks />
            </Section>
            <Separator />
            <Section id="works">
                <h3>
                    <span>Featured Works</span>
                </h3>
                <p>
                    <span>Some projects I've worked on and proud of.</span>
                </p>
                <br/>
                <ProjectCatalogue client:load url="/featured-projects" />
            </Section>
            <Separator />
            <Section id="connect">
                <h3>
                    Connect 
                </h3>
                <p>
                    <span>
                        Get in touch with me for
                        <em class="text-fore font-serif">freelance, full-time, part-time and contributive</em>
                        projects on <em class="text-fore font-serif">web frontend, backend and machine learning</em>.
                        Because, why not? I like solving problems.
                    </span>
                </p>
                <ContactLinks />
            </Section>
        </main>
        <footer class="w-full p-lg">
            <h5 class="font-mono flex justify-center items-center gap-md">
                <span>© 2023 | a work by
                    <a data-fetch="links.json:github">@albertdoes</a>
                </span>
                <span>|</span>
                <span><Icon name="logo" /></span>
            </h5>
        </footer>
    </div>
</Page>