---
import Icon from "./Icon";

const names = [
    ["github", "cib:github"],
    ["twitter", "cib:twitter"],
    ["linkedin", "cib:linkedin-in"],
    ["telegram", "cib:telegram-plane"],
    ["mail", "ic:baseline-mail"]
];
---

<nav class="w-fit py-lg flex gap-lg text-[1em] items-center">
    {
        names.map(e => (
            <a target="_blank" class="button-like" data-fetch={`/misc/links.json:${e[0]}`}>
                <span><Icon client:load name={e[1]} /></span>
            </a>
        ))
    }
</nav>