---
import Icon from "./Icon";
---

<button data-type="tertiary" data-size="fit" id="toggle-dark-mode">
    <span class="dark:hidden block"><Icon client:load name="ic:baseline-dark-mode" /></span>
    <span class="hidden dark:block"><Icon client:load name="ic:baseline-light-mode" /></span>
</button>