---
import Icon from "./Icon";
---

<div id="page-menu" class="group flex flex-col justify-between gap-lg border-none" data-expanded="false">
    <div class="h-fit flex justify-end gap-lg">
        <button data-size="fit" id="toggle-dark-mode">
            <span class="dark:hidden block"><Icon name="moon" /></span>
            <span class="hidden dark:block"><Icon name="sun" /></span>
        </button>
        <button data-size="fit" id="expand-menu">
            <span class="group-data-[expanded=true]:hidden"><Icon name="menu" /></span>
            <span class="group-data-[expanded=false]:hidden"><Icon name="cross" /></span>
        </button>
    </div>
    <div class="right-lg w-[20ch] z-[100] dialog absolute scale-[0] group-data-[expanded=true]:scale-[1] [transform-origin:100%_0%]">
        <nav class="flex flex-col gap-lg items-start">
            <ul class="no-marker flex flex-col gap-lg">
                {
                    ["Home", "Works", "Connect"].map((e) => (
                        <li>
                            <a href={"#"+e.toLowerCase()} class="font-serif font-bold">
                                <span>{e}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</div>