<span class="font-serif font-bold text-sm flex items-center gap-[1ch]">
    <span>© 2023</span>
    <span>|</span>
    <span>A work by
        <a data-fetch="/misc/links.json:github">@albertdoes</a>
    </span>
</span>