---
interface Props {
    title: string,
    description: string
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html data-elster-mode="dark" lang="en-US">
    <head>
        <title>{title}</title>
        <meta charset="utf-8" />
        <meta
            name="description" 
            content={description}
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link rel="icon" href="favicon.svg" />
        <link rel="license" href="LICENSE.txt" />
        <!--link rel="manifest" href="manifest.json"-->
        <script src="@scripts/onload.ts"></script>
    </head>
    <slot name="body" />
</html>