---
interface Props {
    id: string,
    height?: "full" | "fit"
}
const { id, height } = Astro.props;
---

<section id={id} class=`w-full h-${height} p-xl grid place-items-center`>
    <div class="max-w-[70ch] w-full">
        <slot/>
    </div>
</section>